extends base

block content

    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Create Your Account
            form#signup-form.form
                .form__group
                    label.form__label(for='name') Full Name
                    input#signup-name.form__input(type='text', placeholder='John Doe', required)

                .form__group
                    label.form__label(for='email') Email Address
                    input#signup-email.form__input(type='email', placeholder='you@example.com', required)

                .form__group
                    label.form__label(for='password') Password
                    input#signup-password.form__input(type='password', placeholder='••••••••', required, minlength='8')

                .form__group
                    label.form__label(for='passwordConfirm') Confirm Password
                    input#signup-passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')

                .form__group
                    label.form__label(for='role') Role
                    select#role.form__input(name='role', required)
                        option(value='user') User
                        option(value='guide') Guide
                        option(value='lead-guide') Lead Guide
                        option(value='admin') Admin

                .form__group
                    button.btn.btn--green Sign Up
